* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
}
body,
html {
  width: 100%;
  /* background-image: url('./images/2065685.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  overflow-x: hidden;
}
.container {
  width: 100%;
  /* height: 100%; */
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('./images/2065685.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.one {
  width: 100%;
}
.navbar {
  width: 90%;
  /* border: 2px solid rgb(252, 251, 251); */
  backdrop-filter: blur(2px);
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.social li {
  float: left;
  border: 2px solid rgb(1, 224, 1);
  border-radius: 16px;
  margin-left: 20px;
}
li a {
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
li a i {
  font-size: 18px;
}

.banner {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  /* border: 2px solid white; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 20px 6px black;
}
.welcome {
  /* border: 2px solid green; */
  width: 70%;
  /* z-index: 10; */
  padding: 14px 16px;
  margin-top: -20px;
}
.welcome h1 {
  font-size: 40px;
}
.welcome span {
  color: rgb(1, 224, 1);
}
.underline {
  width: 100%;
  margin-top: 20px;
  height: 4px;
  background-color: rgb(1, 224, 1);
}
.welcome p {
  border: 1px solid rgb(1, 224, 1);
  width: 100%;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  font-size: 18px;
}
.image {
  /* border: 2px solid red; */
  width: 40%;
  float: right;
}
.image img {
  opacity: 0.9;
  width: 100%;
  border-radius: 0 10px 10px 0;
}
.aboutbtn {
  /* border: 2px solid white; */
  width: 150px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}
.aboutbtn button {
  width: 100%;
  color: rgb(1, 224, 1);
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 16px;
  cursor: pointer;
}
.aboutbtn button:hover {
  background-color: rgb(1, 224, 1);
  color: whitesmoke;
  border: 1px solid rgb(1, 224, 1);
}
.abtbox {
  width: 100%;

  margin-top: 80px;
  background: url('./images/pexels-hitarth-jadhav-220357.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  background-color: rgba(0, 0, 0, 0.8);
}
.about h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.about .para {
  font-size: 18px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  /* border: 2px solid rgb(1, 224, 1); */
}
.skills {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.skill {
  width: 30%;
  /* border: 2px solid red; */
  align-items: center;
  margin: 10px;
  margin-bottom: 50px;
  backdrop-filter: blur(2px);
}
.skill p {
  font-size: 18px;
  width: 100%;
  text-align: center;
  border: 1px solid rgb(1, 224, 1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.skill p i {
  font-size: 30px;
}
.projects {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  /* border: 2px solid white; */
  border-radius: 10px;
  margin-top: 50px;
  background: url('./images/20656.jpg') center/cover fixed no-repeat;
  /* background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  box-shadow: 0px 0px 20px 10px black;
  padding-bottom: 50px;
}
.projects h1 {
  width: 80%;
  margin: auto;
  margin-top: 30px;

  /* border: 2px solid white; */
}
.coming-soon {
  height: 50vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.soon {
  width: 30%;
}
.coming-soon h1 {
  color: rgb(1, 224, 1);
}
.items {
  width: 80%;
  margin: auto;
  /* border: 2px solid red; */
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  width: 49%;
  height: 50%;
  /* border: 2px solid white; */
  overflow: hidden;
  margin-bottom: 30px;
}
.item-pic {
  width: 100%;
}
.item img {
  width: 100%;
}
.desc {
  width: 100%;
  /* border: 2px solid blue; */
  padding: 10px 0px;
  backdrop-filter: blur(2px);
}
.proj {
  backdrop-filter: blur(2px);
}
.contact {
  width: 100%;
  /* border: 2px solid white; */
  margin-top: 20px;

  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 100px;
}
.contact h1 {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  /* border: 2px solid green; */
}
.form {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  /* border: 2px solid rgb(164, 182, 0); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 40%;
  margin: auto;
  /* border: 2px solid green; */
}
.details {
  width: 50%;
  /* border: 2px solid blue; */
}
.name {
  padding: 10px;
  /* border: 2px solid white; */
}
.line {
  height: 1px;
  background-color: rgb(1, 224, 1);
  width: 20%;
}

.name input {
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid green;
}
.name input:focus {
  outline: none;
}
.name textarea {
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid rgb(1, 224, 1);
  background-color: transparent;
}
.name textarea:focus {
  outline: 1px solid rgb(1, 224, 1);
}
.msgbtn {
  width: 30%;
  margin: auto;
}
.msgbtn button {
  width: 100%;
  /* color: rgb(1, 224, 1); */
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 6px;
}
.msgbtn button:hover {
  background-color: rgb(1, 224, 1);
  color: whitesmoke;
  border: 1px solid rgb(1, 224, 1);
}
.dets {
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.thanks {
  background-color: rgba(0, 0, 0, 0.918);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message {
  border: 1px solid rgb(1, 224, 1);
  padding: 20px 16px;
  text-align: center;
  box-shadow: 0px 0px 20px 10px rgb(1, 224, 1);
  border-radius: 10px;
}

.message p {
  color: rgb(1, 224, 1);
  font-size: 30px;
}
.message h1 {
  font-size: 48px;
}
.exit button {
  border: 1px solid rgb(1, 224, 1);
  background-color: whitesmoke;
  margin: 30px;
  color: rgb(1, 224, 1);
  font-size: 20px;
  border-radius: 10px;
  width: 20%;
}
.exit button:hover {
  color: whitesmoke;
  background-color: rgb(1, 224, 1);
}
.exit button a {
  color: rgb(1, 224, 1);

  display: block;
  width: 100%;
  padding: 6px;
  text-decoration: none;
}
.exit button a:hover {
  color: whitesmoke;
}
